nav ul {
	justify-content: right;
}

section#one {
	div.container .grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}
}

section#two {
	div.container {
		display: grid;
		align-content: center;
		grid-template-columns: 1fr 1fr;
		gap: 3rem;
	}
	.text2 {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

section.caseStudy {
	flex-direction: row !important;
	gap: 2rem;
	flex-wrap: wrap;
	.caseStudyText {
		width: 40%;
	}
	pre {
		width: 40%;
	}
	picture {
		width: 40%;
	}
}

section.product .caseStudyText,
section.goals .caseStudyText,
section.nextTime .caseStudyText {
	width: 85%;
}
