html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
	height: 100%;
	width: 100%;
}
/*---- apply a natural box layout model to all elements -------*/
* {
	// -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $defaultFont;
	font-weight: $normalWeight;
	color: lighten($color7, 6%);
}

div#navWrapper {
	position: sticky;
	z-index: 1000;
	top: 0;
}

nav {
	width: 100%;
	background-color: lighten($color7, 12%);
	border-bottom: 3px solid lighten($color7, 6%);
	display: flex;
	justify-content: center;
	align-items: center;
	ul {
		width: 80%;
		max-width: 1000px;
		display: flex;
		justify-content: center;
		padding: 1rem 0;
		margin: 0;
	}
	ul li {
		list-style: none;
	}
	ul li a {
		display: block;
		padding: 0.75rem;
		color: white;
		background: lighten($color7, 12%);
		text-decoration: none;
		text-align: center;

		&:hover {
			color: lighten(white, 0%);
			background-color: darken($color7, 3%);
		}
	}
}

div#mainWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	section {
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	div.container {
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		align-items: center;
		width: 80%;
		padding: 0 1rem 0 1rem;
		min-height: 50vh;
		margin-bottom: 1rem;
		max-width: 1000px;
	}
}

section#one {
	text-align: center;
	height: 80vh;
	div.container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	h1 {
		font-weight: $boldWeight;
		font-size: 3rem;
		padding: 0;
		margin: 0;
	}
	code {
		text-align: left;
		max-width: 50vw;
		width: 100%;
		min-width: 20rem;
		align-self: center;
	}
}

section#two {
	background-color: lighten($color7, 18%);
	text-align: center;
	.text2 {
		color: white;
		padding: 1rem;
		height: 100%;
		h2,
		p {
			margin: 0;
			padding-bottom: 1rem;
		}
		p {
			text-align: left;
		}
		a {
			text-decoration: none;
			color: white;
			&:hover {
				text-decoration: underline;
			}
		}
	}

	picture {
		img {
			clip-path: circle(45% at 50% 50%);
		}
	}
}

section#four {
	h1 {
		font-weight: $boldWeight;
		font-size: 3rem;
		padding: 0;
		margin: 0;
	}
	ul {
		display: grid;
		align-items: center;
		text-align: center;
		grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
		gap: 2rem;
		li {
			list-style: none;
			display: flex;
			flex-direction: column;
		}
		img {
			width: 100%;
			height: auto;
		}
	}
}

section#five {
	display: flex;
	flex-direction: column;
	h1 {
		font-weight: $boldWeight;
		font-size: 3rem;
		padding: 0;
		margin: 0;
	}
	.projects {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
		gap: 0.5rem;
	}
	.card {
		background-color: lighten($color7, 18%);
		color: white;
		border-radius: 5px;
		padding: 1rem;
		display: flex;
		flex-direction: column;
	}
	picture img {
		display: block;
		margin: 0 auto;
		width: 100%;
	}
	.btn {
		width: 100%;
		color: white;
		border-color: white;
		&:hover {
			background-color: lighten($color7, 10%);
		}
	}
}

section#six {
	background-color: lighten($color7, 18%);
	color: white;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	label {
		display: block;
		margin: 1rem;
		padding: 1rem 2rem 0 2rem;
		width: 100%;
		&.title {
			font-weight: $boldWeight;
			font-size: 2rem;
		}
	}
	input {
		width: 90%;
		padding: 0.5rem;
		margin: 0 2rem;
		border: 1px solid black;
	}
	textarea {
		width: 90%;
		height: 10rem;
		padding: 1rem;
		margin: 0 0 2rem 0;
		background-color: lighten($secondaryColor, 16%);
		resize: none;
		border: 1px solid black;
	}
	button {
		align-self: flex-start;
		padding: 1rem;
		margin: 0 2rem;
		border-radius: 3px;
		background-color: white;
		&:hover {
			background-color: darken($secondaryColor, 8%);
		}
	}
	h3 {
		margin: 0;
		padding: 1rem 2rem 0 2rem;
	}
	p {
		margin: 0.5rem 2rem;
		a {
			color: white;
			text-decoration: none;
		}
	}
	div.socials {
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		align-items: center;
		filter: invert(1);
		a {
			display: block;
			padding: 1rem;
			text-align: center;
			text-decoration: none;
			&:hover {
				transform: rotate(0.05turn);
			}
		}
	}
}

//case study

#caseStudy {
	width: 80%;
}

section.caseStudy {
	display: flex;
	flex-direction: column;
	width: auto !important;
	justify-content: center;

	pre {
		width: 70vw;
		code {
			word-wrap: break-word;
		}
	}
}

// FOOTER

/* FOOTER  */
div#footerWrapper {
	grid-row-start: 4;
}

#footerWrapper {
	background-color: lighten($color7, 12%);
	color: white;
}
footer {
	padding: 1rem $gutter;

	p.legal {
		margin: 0;
		font-weight: $lightWeight;
		text-align: center;
		a {
			text-decoration: none;
			color: white;
		}
	}
	.title {
		display: none;
	}
}

//Universals

.none {
	display: none;
}

.btn {
	display: block;
	padding: 0.5rem 1rem;
	border-radius: 3px;
	border: 1px solid black;
	text-decoration: none;
	text-align: center;
	color: $fontColor;
	&:hover {
		background-color: lighten(white, 10%);
	}
}

pre {
	white-space: pre-line;

	code {
		border-radius: 10px;
		padding: 2rem 3rem;
	}
}
