$primaryColor: #889bae;
$secondaryColor: #eaeaea;
// $secondaryColor: white;
$accentColor: #b88d61;
$otherColor: black;
$fontColor: #121f1f;

$color1: lighten(#413e4a, 10%);
$color2: #73626e;
$color3: #b38184;
$color4: #f0b49e;
$color5: #f7e4be;
$color6: #fecea8;
$color7: #033649;

$defaultFont: "Nunito", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter: 16px;
